{
  "mint": "YourTokenMintAddressHere44Characters",
  "bondingCurve": "BondingCurveOrPoolAddress44Chars",
  "pool": "BondingCurveOrPoolAddress44Chars",
  "creator": "CreatorWalletAddress44Characters",
  "name": "Your Token Name",
  "symbol": "SYMB",
  "uri": "https://pump.fun/coin/YourTokenMintAddressHere44Characters",
  "isRoot": false,
  "mayhemMode": false,
  "tokenProgram": "SPL",
  "poolType": "pumpswap_amm",
  "network": "mainnet"
}
